---
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Badge } from "$lib/components/ui/badge";
import { CircleUserRound } from "lucide-svelte";
import { Image } from "astro:assets";

const { fullCycleApproach, roadmapImage, roadmapText, roadmapPrimaryText } = Astro.props;

---

<section class="section6 py-10 md:py-40 overflow-x-hidden section-bg">
  <div class="container">
    <div
        class="flex mx-auto max-w-2xl flex-col items-start md:items-center justify-center"
      >
        <Badge variant="outline" class="py-1">
          <CircleUserRound class="mr-1" size={18} />
          <span class="text-xs font-bold md:text-sm tracking-wider font-manrope"
            >Full Cycle Approach</span
          >
        </Badge>
        <SectionTitle
          text={roadmapText}
          primaryColorText={roadmapPrimaryText}
          class="md:whitespace-pre-wrap max-md:text-left md:text-center md:w-5/6"
        />
      </div>

    <div class="flex flex-col md:flex-row items-center md:justify-center gap-4 md:pt-12">
      <div class="md:min-w-[50%] max-h-max justify-center items-center">
        <Image alt="building block" src={roadmapImage} height={600} data-aos="fade-right"/>
      </div>

      <div>
        {fullCycleApproach.map((approach: {title: string, description: string[]}, index: number) => (
          <div class="relative flex items-start">
            {index < fullCycleApproach.length - 1 && (
              <div class="absolute left-4 w-px h-full border-1 border-common-border "></div>
            )}
            
            <div class="w-8 h-8 border-1 bg-card-bg backdrop-blur-sm border-common-border rounded-full flex items-center justify-center relative z-10">
              {index + 1}
            </div>
            
            <div class="ml-6 flex-1">
              <!-- Title -->
              <h3 class="pb-2 text-[18px] leading-[22px] text-xl font-bold tracking-[0.02em] font-manrope text-main-heading-color">
                {approach.title}
              </h3>
              
              <ul class="pr-4 pb-8">
                {
                  approach.description.map((description) => (
                    <li class="small-text my-1 lg:text-para font-inter text-fourth-color">
                      {description}
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
