---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "$lib/layouts/Layout.astro";
import ServiceDetails from "$lib/components/ServiceDetails.astro"

export async function getStaticPaths() {
  const services = await getCollection("services");
  return services.map((service) => ({
    params: { slug: service.id },
    props: service,
  }));
}
type Props = CollectionEntry<"services">;

const { data } = Astro.props;
---

<Layout title={data.seoTitle} description={data.seoDescription}>
  <main class="main-content z-10">
    <ServiceDetails title={data.title} description={data.description} block={data.slug} cardSectionPrimaryTitle={data.cardSectionPrimaryTitle} cardSectionTitle={data.cardSectionTitle} isSectionTitlePrimary={data.isSectionTitlePrimary} serviceCardCollection={data.serviceCardCollection} serviceApproachPrimaryTitle={data.serviceApproachPrimaryTitle} serviceApproachTitle={data.serviceApproachTitle} serviceApproach={data.serviceApproach} heroUnitImage={data.lightImage} />
  </main>
</Layout>
